# Compiled C++ programs
bin/

# CMake build files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# Object files
*.o
*.obj

# Debug symbols
*.dSYM/

# macOS
.DS_Store

# Editor / IDE
.vscode/
.idea/

# Temporary files
*.swp
*.swo
